{% extends 'base_no_container.html' %}

{% load static %}
{% block content %}
<div class="fullscreen-bg-img" 
    style="background-image: url('{% static 'game/dalle_video_game_art_nature_background_miyazaki.png' %}')">
    <div class="container py-5">
        {% include "form_errors.html" %}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 p-4 rounded">
                    <div class="d-flex flex-wrap align-items-center mb-4">
                        <h1 class="me-4">Change email</h1>
                        <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                    </div>
                    <form method="post" action="{% url 'change_email' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          {{form}} 
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mx-auto" />Send it</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}