{% extends 'base_no_container.html' %}

{% load static %}
{% block content %}

<div class="fullscreen-bg-img" 
    style="background-image: url('{% static 'game/dalle_video_game_art_nature_background_miyazaki.png' %}')">
    <div class="container py-5">
        {% if next %}
            {% if user.is_authenticated %}
            <div class="alert alert-danger">
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </div>
            {% else %}
            <div class="alert alert-danger">Please login to see this page.</div>
            {% endif %}
        {% endif %}
        {% include "form_errors.html" %}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 p-4 rounded">
                    <div class="d-flex flex-wrap align-items-center mb-4">
                        <h1 class="me-4">Login</h1>
                        <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                    </div>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            {{form.username}}
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">Password</label>
                            {{form.password}}
                        </div>
                        <div class="mb-4">
                            <a href="{% url 'password_reset' %}">Lost password?</a>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mx-auto" />Login</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}