{% extends "base_no_container.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="fullscreen-bg-img" style="background-image: url('{% static 'game/dalle_video_game_art_nature_background_miyazaki.png' %}')">
    <div class="container py-5">
    {% with form=user_form %}
    {% include 'form_errors.html' %}
    {% endwith %}
    {% with form=player_form %}
    {% include 'form_errors.html' %}
    {% endwith %}
    <div class="d-flex flex-shrink-0 justify-content-center">
        <div class="d-inline-block border border-dark rounded bg-light">
            <div class="border border-info border-4 px-3 py-3 rounded">
                <div class="d-flex flex-wrap align-items-center mb-4">
                    <h1 class="me-4">Sign up</h1>
                    <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                </div>
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% for field in user_form %}
                    <div class="form-floating mb-3">
                        {{field}}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {% if field == user_form.password1 %}
                        <div class="pt-2"><small>{{field.help_text}}</small></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div>
                    <div class="form-floating mb-4">
                        {{player_form.phone_number}}
                        <label for="{{player_form.phone_number.id_for_label}}">
                        {{player_form.phone_number.label}} (optional)</label>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary mx-auto">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}