{% extends "mail_base.html" %}
{% block preheader %}Verify Compassion Game account{% endblock %}
{% block intro %}
<p>Welcome {{ user.username }}!</p>
<p>Please press the button link below to confirm your account.
{% endblock %}
{% block call_to_action %}
<a href="{{link}}">Confirm your account </a>
{% endblock %}