.fullscreen-bg-img {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* https://stackoverflow.com/questions/32767154/keep-image-fixed-inside-of-div */
.demo-gif {
    max-width: 100%;
    object-fit: contain;
}