<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'game/css/styles.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
	</script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}Compassion Game{% endblock %}</title>
</head>

<body style="min-height:100vh; width:100%">
	<main>
		{% block pre_navbar_content %}
		{% endblock%}
		<div style="width:100%; height:100%;">
		{% include 'navbar.html' %}
		{% include 'messages.html' %}
		{% include 'one_hidden_toast.html' %}
		{% if user.is_authenticated and not user.is_email_verified and user.is_subscribed_meal_log_mail %}
			<div class="alert alert-info" role="alert" style="padding:5px 20px; text-align:center; margin-bottom:0px;">
				<small>Please check your email and follow the instructions to verify your account.
					<button type="button" id="resend-email-btn"
						class="btn btn-outline-primary btn-sm" 
						onclick="resendVerifyEmail()">Resend</button>
					<a class="btn btn-outline-secondary btn-sm" href="{% url 'change_email' %}" 
						role="button">Change email
					</a>
				</small> 
			</div>
		{% endif %}
		{% block content %}
		{% endblock %}
		</div>
	</main>

	{% if messages %}
	<script>
		var toastElList = [].slice.call(document.querySelectorAll('.dj-message'))
		var toastList = toastElList.map(function (toastEl) {
		  return new bootstrap.Toast(toastEl)
		})
		toastList.forEach((toast) => toast.show()) 
	</script>
	{% endif %}
	{% if user.is_authenticated and not user.is_email_verified and user.is_subscribed_meal_log_mail %}
	<script type="text/javascript">
		const resendVerifyEmailBtn = document.getElementById("resend-email-btn")
		const dynamicToastEle = document.getElementById('one-hidden-toast')
		const topicEle = document.getElementById('one-hidden-toast-topic')
		const resendVerifyEmail = async () => {
			resendVerifyEmailBtn.setAttribute("disabled",true)
			const response = await fetch("{% url 'resend_verify' %}", 
				options={ headers: {
					'Content-Type': 'text/plain'} 
			})
			let topic = "Success"
			let msg = ""
			try {
				if (!response.ok) throw Error(response.status) 
				msg = await response.text()
				topicEle.classList.remove("text-danger")
				topicEle.classList.add("text-success")
			}
			catch {
				topic = `Error ${response.status} ${response.statusText}`
				msg = `Error sending email. Try again and submit feedback if problem persists.`
				topicEle.classList.remove("text-success")
				topicEle.classList.add("text-danger")
			}
			finally {
				topicEle.innerHTML = topic
				document.getElementById('one-hidden-toast-msg').innerHTML = msg
				new bootstrap.Toast(dynamicToastEle).show()
				resendVerifyEmailBtn.removeAttribute("disabled")
			}
		}
	</script>
	{% endif %}
	{% block scripts %}
	{% endblock %}
</body>
</html>