<div style="
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: scroll;
    background-image: url('{{props.img_url}}')">
    <div class="container py-5"> 
        {{props.children}}
    </div>
</div>