{% extends 'base_no_container.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<div class="fullscreen-bg-img" 
    style="background-image: url('{% static 'game/dalle_video_game_art_nature_background_miyazaki.png' %}')">
    <div class="container py-5"> 
        <div class="row g-4 mb-5">
            <div class="col-md">
                <div class="border border-dark rounded bg-light">
                    <div class="border border-info border-4 px-3 py-2 rounded">
                        <h1>Welcome</h1>
                        <p>
                            Join a community of players adopting a more compassionate plant-based diet, 
                            one meal at a time.
                        </p>
                        <div class="d-flex justify-content-end gap-3 flex-wrap"> 
                            <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Get Started</a>
                            <a class="btn btn-secondary" href="{% url 'login' %}" role="button">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="border border-dark rounded bg-light">
                    <div class="border border-info border-4 px-4 py-3 rounded">
                    {% include "game/community_bulletin_snip.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-dark rounded bg-light mx-auto" style="max-width:700px">
            <div class="border border-info border-4 px-4 pt-4 rounded">
                <div class="d-flex flex-wrap align-items-center mb-3">
                    <h2 class="me-4 my-0">The Rundown</h2>
                    <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                </div>
                <div class="mx-auto px-3">
                    <img class="rounded mx-auto d-block demo-gif mb-3"
                        src="{% static 'img/start-animal-small.gif' %}"
                        alt="Starter animal gif"
                        />
                    <p>
                        Compassion Game is <strong>for anyone who wants to adopt a more compassionate diet</strong> 
                        no matter what size of a step they wish to begin with.<br> 
                    </p>
                    <img class="rounded mx-auto d-block demo-gif mb-3"
                        src="{% static 'img/meal-log.gif' %}"
                        alt="Meal log gif"
                        />
                    <p>
                        With just <strong>one minute a day</strong>, log meals to earn  
                        earn rewards for challenges while contributing to a real impact that grows with the community.     
                    </p>
                    <img class="rounded mx-auto d-block demo-gif mb-3"
                        src="{% static 'img/badges.gif' %}"
                        alt="Badges gif"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}