{% for message in messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index:1" >
    <div class="dj-message toast hide" role="alert" 
        aria-live="assertive" 
        aria-atomic="true" 
        >
        <div class="toast-header" >
            {% with message.tags|lower as tags_low_case %}
            <strong class="me-auto text-{% if "err" in tags_low_case %}danger{% else %}{{ tags_low_case }}{% endif %}">
            {{message.tags|capfirst}}
            </strong>
            <button type="button" 
                class="btn-close" 
                data-bs-dismiss="toast" 
                aria-label="Close">
            </button>
            {% endwith %}
        </div>
        <div class="toast-body bg-light">
            {{message|safe}}
        </div>
    </div>
</div>
{% endfor %}