{% load static %}
<nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary" 
    style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/compassion-planet-logo.png' %}" alt="CP Logo" 
                class="d-inline-block align-text-top" 
                style="max-width: 40px; max-height:30px">
            Compassion Game
        </a>
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% with request.resolver_match.view_name as view_name %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'game:index' %}active{% endif %}" 
                        {% if view_name == 'game:index' %}aria-current="page"{% endif %}
                        href="{% url 'game:index' %}"
                    >Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'game:player' %}active{% endif %}" 
                        {% if view_name == 'game:player' %}aria-current="page"{% endif %} 
                        href="{% url 'game:player' user.player.id %}"
                    >Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'game:daily_meal_log' %}active{% endif %}" 
                        {% if view_name == 'game:daily_meal_log' %}aria-current="page"{% endif %} 
                        href="{% url 'game:daily_meal_log' user.player.id %}"
                    >Log meals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'game:feedback' %}active{% endif %}" 
                        {% if view_name == 'game:feedback' %}aria-current="page"{% endif %}
                        href="{% url 'game:feedback' user.player.id %}"
                    >Feedback</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'game:library' %}">Library</a></li>
                        <li><a class="dropdown-item" href="https://gitlab.com/evanlesmez/compassion-planet-game">Open Source</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li> 
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'home' %}active{% endif %}" 
                        {% if view_name == 'home' %}aria-current="page"{% endif %}  
                        href="{% url 'home' %}"
                    >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'signup' %}active{% endif %}" 
                        {% if view_name == 'singup' %}aria-current="page"{% endif %}  
                        href="{% url 'signup' %}"
                    >Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'login' %}active{% endif %}" 
                        {% if view_name == 'login' %}aria-current="page"{% endif %}  
                        href="{% url 'login' %}"
                    >Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view_name == 'game:library' %}active{% endif %}" 
                        {% if view_name == 'game:library' %}aria-current="page"{% endif %}  

                    <a class="nav-link" href="{% url 'game:library' %}">Library</a>
                </li>
                {% endif %}
            {% endwith %}
            </ul>  
        </div>
    </div>
</nav>
