<div class="position-fixed bottom-0 end-0 p-3" style="z-index:1">
    <div id="one-hidden-toast" class="toast fade hide" role="alert" 
        aria-live="assertive" 
        aria-atomic="true" 
        >
        <div class="toast-header">
            <strong id="one-hidden-toast-topic" class="me-auto">
            </strong>
            <button type="button" 
                class="btn-close" 
                data-bs-dismiss="toast" 
                aria-label="Close">
            </button>
        </div>
        <div id="one-hidden-toast-msg" class="toast-body bg-light">
        </div>
    </div>
</div>