{% load humanize %}
{% load game_extras %}
{% for cm in communal_measurables %}
<div> 
    <strong>{{cm.progress|intcomma}} </strong> 
    {% if cm.name|lower == "animal" %}
    <strong>{{cm.name|lower |pluralize_noun:cm.progress}}</strong>
    {% else %}
    {{cm.unit|pluralize_noun:cm.progress}} of
    <strong>
        {% if cm.name|lower == "carbon emission" %}
        {{cm.name|lower |pluralize_noun:cm.progress}}
        {% else %}
        {{cm.name|lower}}
        {% endif %}
    </strong>  
    {% endif %}
    saved
    {{cm.emoji}}
</div>
{% endfor %}