{% load humanize %}
{% load game_extras %}
<div>
    <h2 class="mb-3">Community Bulletin</h2>
    <p>Our total impact contributed to by every player.</p>
    {% include 'game/community_stats_snip.html' %}
</div>