{% extends "base_no_container.html" %}
{% load static %}
{% block content %}
<div class="fullscreen-bg-img" style="background-image: url({% static 'game/dalle_grocery_market.png' %})">
    <div class="container py-5">
        {% include "form_errors.html" %}
        <div class="row g-4 mb-5">
            <div class="col-md-6">
                <div class="border border-dark rounded">
                    <div class="bg-light rounded py-3 px-4 border border-4 border-info">
                        <h1>Meal Log</h1>
                        <p>{% now "M jS, Y"%}</p>
                        <form id="meal_form" action="{% url 'game:daily_meal_log' player_id %}" 
                        method="post" onsubmit="disableBtn()">
                        {% csrf_token %}
                            {% if form.total_meal_count.value is not None%}
                            <input type="hidden" name="_method" value="put" />
                            {% endif %}
                            <div class="text-danger">{{form.total_meal_count.errors}}</div>
                            <div class="form-floating mb-3">
                                {{form.total_meal_count}}
                                <label for="{{form.total_meal_count.id_for_label}}">{{form.total_meal_count.label}}</label> 
                            </div>
                            <div class="text-danger">{{form.vegan_meal_count.errors}}</div>
                            <div class="form-floating">
                                {{form.vegan_meal_count}}
                                <label for="{{form.vegan_meal_count.id_for_label}}">{{form.vegan_meal_count.label}}</label> 
                            </div>
                            <div class="form-floating">
                                {{form.notes}}
                                <label for="{{form.notes.id_for_label}}">What did you eat? (optional)</label> 
                            </div>
                                <a href="#guidance">Need guidance?</a> 
                            <div class="d-flex justify-content-center pt-2">
                                <button type="submit" class="btn btn-primary" id="id_submit"/>
                                {% if form.total_meal_count.value is None %}
                                Send it
                                {% else %}
                                Update
                                {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border border-dark rounded">
                    <div class="bg-light rounded py-3 px-4 border border-4 border-info">
                        <h2>Streaks</h2>
                        {% include "game/streaks_snippet.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline-block border border-dark rounded" id="guidance" style="max-width:750px">
            <div class="bg-light rounded py-3 px-4 border border-4 border-info">
                <div class="d-flex flex-wrap align-items-center mb-4">
                    <h1 class="me-4">Guide</h1>
                    <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                </div>
                <dl>
                    {% include 'def_vegan_meal_snip.html' %}
                    <dd>What counts as a "meal" is up to you but we recommend keeping it simple.</dd>
                    <dd>It is more important to get a sense of sittings in a day you consumed fully vegan foods and drinks out 
                        of the total sittings that day.<dd>
                    <br>
                    <dd>
                        This community depends on your <b>honesty</b>.
                        If you did not eat any vegan meals, missed a day, or messed up an entry, don't sweat it.</dd>
                    <dd>Try again.</dd>
                    <br>
                    <dd>Remember that every meal you abstain from animal products saves animals and 
                        vital resources. Even if you do not identify as vegan, <b>each meal</b> is still an 
                        <b>opportunity to choose compassion</b>.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    const id_tmc = "id_total_meal_count"
    var eleTotalMealCnt = document.getElementById(id_tmc).addEventListener("change", updateVeganMealCountField)
    function updateVeganMealCountField() {
        var eleTotalMealCnt = document.getElementById(id_tmc)
        var eleVeganMealCnt = document.getElementById("id_vegan_meal_count");
        eleVeganMealCnt.setAttribute("max", eleTotalMealCnt.value)

    }
  
    const disableBtn = () => {
        document.getElementById('id_submit').setAttribute("disabled",true);
    }
    
   updateVeganMealCountField() 

</script>
{% endblock %}