{% extends "base_no_container.html" %}
{% block content%}
{% load static %}
<div class="fullscreen-bg-img" style="background-image: url('{% static 'game/dalle_lit_up_town.png' %}')">
    <div class="container py-5"> 
        <div class="row g-4 mb-5">
            <div class="col-md">
                <div class="border border-dark rounded bg-light" style="max-width:750px">
                    <div class="border border-info border-4 px-3 py-2 rounded">
                        <div class="d-flex flex-wrap align-items-center mb-2">
                            <h1 class="me-4">First steps</h1>
                            <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                        </div>
                        <p>Welcome!<br>
                        Our goal is to motivate you along your journey of adopting a more compassionate diet.<br>
                        It only takes one minute a day to play.</p>
                        <ol class="mb-4">
                            <li>
                                <div class="mb-1"><a href="{% url 'game:daily_meal_log' user.player.id %}">Log meals</a> each day.  
                                    Record how many meals were <a href="#vegan-def"><i>vegan</i></a> out of the total.
                                </div>
                                <img class="rounded mx-auto d-block demo-gif mb-3"
                                    src="{% static 'img/meal-log.gif' %}"
                                    alt="Meal log gif"/>
                            </li>
                            <li>
                                <div class="mb-1">
                                    Track progress towards badges on your 
                                    <a href="{% url 'game:player' user.player.id %}">player</a> page.
                                    Each badge is earned through reductions of harm in the real world, such as saving animals.
                                </div>

                                <img class="rounded mx-auto d-block demo-gif mb-3"
                                    src="{% static 'img/badges.gif' %}"
                                    alt="Badges gif"/>
                            </li>
                            <li>Check the <a href="#community-bulletin-container">Community Bulletin</a> intermittently to see
                                the growth in impact of the entire player base combined.
                            </li>
                        </ol>
                        <div class="mb-3">
                        {% with user.player as player %}
                            {% include 'game/meal_log_btn_snippet.html' %}
                        {% endwith %}
                        </div>
                        <small id="vegan-def">
                            {% include "def_vegan_meal_snip.html" %}
                            In comparison with a traditional omnivorous meal, a vegan meal <strong>reduces demand</strong> for
                            <strong>animal suffering, carbon emissions, forest area</strong> and <strong>water usage</strong>.
                            These reductions are achievable while still enjoying healthy, tasty, and affordable dishes.
                            <br>
                            <br>
                            {% include "vegan_hesitations_snippet.html" %}
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="border border-dark rounded bg-light" id="community-bulletin-container">
                    <div class="border border-info border-4 px-4 py-3 rounded">
                    {% include "game/community_bulletin_snip.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}