{% extends "base_no_container.html" %}
{% block content%}
{% load static %}
<div class="fullscreen-bg-img" style="background-image: url('{% static 'game/dalle_plant_library.png' %}')">
    <div class="container py-5"> 
        <div class="d-flex flex-shrink-0 flex-wrap gap-5">
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 px-3 py-2 rounded">
                    <div class="d-flex flex-wrap align-items-center mb-2">
                        <h1 class="me-3 my-1">Library</h1>
                        <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                    </div>
                    <p>Here you will find links to resources that answer some 
                        questions you may have about the vegan diet.</p>
                    <div class="d-flex flex-column">
                        <a href="#nutrition-health">Nutrition and Health</a>
                        <a href="#animals">Animals</a>
                        <a href="#environment">Environment</a>
                        <a href="#community">Community</a>
                    </div>
                </div>
            </div>
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 px-3 py-2 rounded">
                    <div id="nutrition-health">
                        <h2>Nutrition and Health</h2>
                        <p>Disclaimer: we are not medical professionals nor certified nutritionists.
                            However, the following resources feature experts in their respective fields.
                        </p> 
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h3><a href="https://www.bluezones.com/">Blue Zones</a></h3>
                                <p>This is for the people who want to live long, healthy, and happy lives.
                                    A "Blue Zone" is a region of the world where people consistently live over 100 years old.
                                    There are five as of September 1st, 2022:
                                    <ul>
                                        <li>Sardinia, Italy</li>
                                        <li>Okinawa, Japan</li>
                                        <li>Loma Linda, CA, United States</li>
                                        <li>Nicoya, Costa Rica</li>
                                        <li>Ikaria, Greece</li>
                                    </ul>
                                </p>
                                <p>
                                    Each place has its own unique culture. 
                                    However, a common thread between them all is that each community thrives on  
                                    a non-processed plant based diet. 
                                    The Adventists of Loma Linda are even 100% vegan. 
                                    If you are curious to learn more, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6125071/">read this white paper</a>.</p>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://gamechangersmovie.com/">The Game Changers</a></h3>
                                <p>This documentary is for the athletes out there. 
                                    <a href="https://gamechangersmovie.com/">The Game Changers</a> tells the stories  
                                    of world champions, Olympians, bodybuilders  
                                    and other elite athletes competing at the highest level 
                                    who choose to eat vegan to enhance their performance.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://www.whatthehealthfilm.com/">What The Health</a></h3>
                                <p>This documentary is for the open-minded who are concerned about 
                                    public health and skeptic of the propaganda spewing from big business. 
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://cronometer.com/">Cronometer</a></h3>
                                <p>If you are someone who cares about maintaining a healthy mind and body 
                                    and want a way to measure your progress, there are several apps that can 
                                    help you keep track. One such app is <a href="https://cronometer.com/">Cronometer</a>.
                                    The app tracks your daily macronutrients (protein, fat, and carbohydrates) by allowing you 
                                    to enter in which products you consumed that day. You can enter them in manually, but 
                                    it is often easier to scan bar codes which finds the product nutrition info  
                                    automatically in their database.   
                                </p>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 px-3 py-2 rounded">
                    <div id="animals">
                        <h2>Animals</h2>
                        <p>A lot of us consider ourselves to be animal lovers. 
                            The resources below will confront that notion as they provide direct evidence that  
                            the overwhelming majority of animals on Earth receive nothing but apathy, torture and 
                            injustice from the human race. Warning that these documentaries get graphic  
                            and are disturbing at times. However, it is important to open our eyes to the truth. 
                            When we lessen our demand for animal products, we lessen the demand for animals to 
                            suffer through the atrocities of the factory farming system. 
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h3><a href="https://www.nationearth.com/">Earthlings</a></h3>
                                <p>One of the OG films of the vegan movement that highlights how several 
                                    massive industries are completely dependent on animal exploitation.</p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://www.dominionmovement.com/">Dominion</a></h3>
                                <p><i>Exposing the dark underbelly of modern animal agriculture through drones, 
                                    hidden & handheld cameras, the feature-length film explores the 
                                    morality and validity of our dominion over the animal kingdom.</i> 
                                    <a href="https://www.dominionmovement.com/">- Dominion</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 px-3 py-2 rounded">
                    <div id="environment">
                        <h2>Environment</h2>
                        <p>
                            The documentaries in this section focus on the impact the animal agriculture industry has on our ecosystem. 
                            The calculations for demand reductions in water, carbon emissions, forest area, and animals used on this site come from references aggregated 
                            in these documentaries.  
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h3><a href="https://www.cowspiracy.com/">Cowspiracy</a></h3>
                                <p>
                                    This documentary is for those who are hip to climate change and want to learn the truth behind its causes. 
                                    <i>Animal agriculture is the leading cause of deforestation, water consumption and pollution, 
                                    is responsible for more greenhouse gases than the transportation industry, 
                                    and is a primary driver of rainforest destruction, species extinction, habitat loss, topsoil erosion, ocean “dead zones,” 
                                    and virtually every other environmental ill. Yet it goes on, almost entirely unchallenged.</i>
                                    <a href="cowspiracy.com/about">- Cowspiracy</a>
                                </p>
                                <p>
                                    Their <a href="https://www.cowspiracy.com/facts">facts</a> page 
                                    served as useful reference for creating the badges on this site. 
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://www.seaspiracy.org/">Seaspiracy</a></h3>
                                <p>
                                    This documentary is for those who want to understand why the ocean is filled with plastic and the toll the fish 
                                    industry takes on the ecosystem.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://milked.film/">Milked</a></h3>
                                <p>
                                    <i>A young activist goes deep into dairy land where he takes on the giants of New Zealand’s 
                                        most powerful industry, and reveals how the sacred cash-cow industry has been milked dry. 
                                        His journey exposes not only the sustainability crisis and the dangerous denial of impending agricultural disruption, 
                                        but also what New Zealand and other countries can do to change their fate.</i>
                                    <a href="https://milked.film/">- Milked</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border border-dark rounded bg-light">
                <div class="border border-info border-4 px-3 py-2 rounded">
                    <div id="community">
                        <h2>Community</h2>
                        <p>
                            These links below are intended to help you stay in touch with the growing vegan community and 
                            make it easier for you to find vegan options in your area.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h3><a href="https://www.happycow.net/">HappyCow</a></h3>
                                <p>For when you want to eat out at a new vegan-friendly place.</p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://www.reddit.com/r/vegan/">r/Vegan</a></h3>
                                <p>Join the (probably) largest group of vegans online.</p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://veganhacktivists.org/">Vegan Hacktivists</a></h3>
                                <p>
                                    Join a group of volunteers who leverage technology to support the animal activism movement. 
                                    The creators of Compassion Planet are in the <a href="https://veganhacktivists.org/playground">VH Playground</a>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://www.facebook.com/groups/search/groups_home/?q=vegan">Vegan Facebook Groups</a></h3>
                                <p>Although we are not huge proponents of social media, 
                                    Facebook groups can serve as a great way to find local events, 
                                    connect with like-minded people and get new meal ideas. 
                                    For example, if you live in Richmond like our founder did when he became vegan, 
                                    you could join <a href="https://www.facebook.com/groups/RVAVegans">RVA Vegan</a>.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h3><a href="https://earthlinged.org/">Earthling Ed</a></h3>
                                <p>
                                    If you are curious about the logical and moral debates in veganism, Earthling Ed is a great person to start with.
                                    Ed Winters is a fan favorite content creator known for respectfully debating veganism with people in public. 
                                    Ed's video <a href="https://www.youtube.com/watch?v=Z3u7hXpOm58&t=1453s">You Will Never Look at Your Life in the Same Way Again</a> 
                                    made a lasting impact on our founder early on in his transition to a vegan diet.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}