{% if user.player == player and not latest_daily_meal_log.was_recorded_today %}
<div class="d-flex justify-content-center py-2">
    <a role="button" href="{% url 'game:daily_meal_log' player.id %}" class="btn btn-lg btn-primary" />Log today's meals</a>
</div>
{% endif %}