{% extends 'base_no_container.html' %}
{% block head %}
<style>
.shiney {
    position: relative;
    overflow:hidden;
}
.shiney::after {
    animation: shine 3s ease-out infinite;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -200%;
    left: -200%;
    width: 200%;
    height: 200%;
    transform: rotate(30deg);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.15) 80%,
        rgba(255, 255, 255, 0.75) 90%,
        rgba(255, 255, 255, 0) 100%
    );
}
@keyframes shine{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        top: 100%;
        left: 100%;
    }
    100% {
        opacity: 0;
    }
}                                
</style>
{% endblock %}
{% block pre_navbar_content %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load humanize %}
{% load game_extras %}
<div class="modal" id="earned-badge-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #e3f2fd;">
                <h2 class="modal-title">Congratulations!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>You earned:</h4>
                <div class="d-flex flex-column" style="align-items:center; justify-content:center;">
                    {% for badge in newly_earned_badges %}
                    <div class="py-2" style="text-align:center">
                        <div class="d-flex justify-content-center align-item-center pb-1 shiney"
                            style="max-height:200px; max-width:200px"
                        >
                            <img src="{{ MEDIA_PREFIX }}{{ badge.image}}"
                                style="max-width:100%; object-fit: contain;"
                                class="rounded-pill"
                                alt="{{badge.name}} {{badge.tier}} img"
                            />
                        </div>
                        <strong>{{badge.name}} {{badge.tier}}</strong>
                        {% with badge.measurable_threshold_to_earn|floatformat:"0" as pretty_thresh%}
                        <div class="pb-2">
                            <small>
                            {{pretty_thresh}}
                            {{badge.unit|pluralize_noun:pretty_thresh}}
                            saved
                            </small>
                        </div>
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load humanize %}
{% load game_extras %}
<div class="fullscreen-bg-img" 
    style="background-image: url('{% static 'game/dalle_bright_nature_miyazaki.png' %}'">
    <div class="container py-5">
        <div class="d-flex flex-wrap justify-content-center align-items-center pb-2">
            <div class="px-3 pb-3">
                <div class="rounded-5 border border-dark bg-light" style="max-width:225px; max-height:250px">
                    <div class="rounded-5 border border-info border-2 overflow-hidden ">
                        <img src="{{player.avatar.image.url}}" class="img-fluid rounded-4" alt="Starter animal">
                    </div>
                </div>
            </div>
            <div class="px-3 pb-3">
                <div class="border border-dark bg-light rounded-5" >
                    <div class="d-flex flex-column border border-info border-4 rounded-5 p-4 px-4">
                        <h1 class="mx-auto">{{player.user.username}}</h1>
                        <hr class="mx-auto border border-primary border-1 mb-4 " style="width:75%">
                        {% include 'game/streaks_snippet.html' %} 
                        {% include 'game/meal_log_btn_snippet.html' %}
                    </div>
                </div>
            </div> 
        </div>
        <div class="d-inline-block border border-dark bg-light rounded mb-3">
            <div class="border border-info border-4 rounded py-2 px-3">
                <h3>Badges</h3>
                <p>Take a look at your badge collection below.</p> 
            </div>
        </div>
        <div class="row g-3 mb-5">
        {% for k, badges in grouped_badges.items %}
            {% for badge in badges %}
            <div class="col-md-6 col-lg-4">
                <div class="d-flex border border-secondary rounded-4 bg-light align-items-center p-3
                    {% if not badge.earned and not badge.is_current_tier_in_badge_grp %}opacity-25{% endif %}"
                >
                    <div class="d-flex justify-content-center align-item-center 
                        {% if badge.earned %}shiney{% endif %}" 
                        style="max-height:80px; max-width:80px"
                    >
                        <img src="{% if badge.earned or badge.is_current_tier_in_badge_grp %}
                            {{ MEDIA_PREFIX }}{{ badge.image }}
                            {% else %}
                            {% static 'game/dalle_question_mark.png' %}
                            {% endif %}" 
                            style="max-width:100%; object-fit: contain;    
                            {% if not badge.earned %}
                            filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1); opacity: 33%
                            {% endif %}"
                            class="rounded-pill"
                            />
                    </div>
                    <div class="ps-4 text-break"
                        style="width:100%; height: 100px; text-overflow:ellipsis; overflow:hidden">
                        <div class="pb-2">
                            <strong>
                            {% if badge.earned or badge.is_current_tier_in_badge_grp %}
                            {{badge.name}} {{badge.tier}}
                            {% else %}
                            ???
                            {% endif %}
                            </strong>
                        </div>
                        {% with badge.measurable_threshold_to_earn|floatformat:"0" as pretty_thresh%}
                        {% if badge.earned %}
                        <div class="lh-1">
                            <div class="pb-2 text-primary">
                                {{pretty_thresh}}
                                {{badge.unit|pluralize_noun:pretty_thresh}}
                                saved
                            </div>
                            <small>{{badge.description}}</small>
                        </div>
                        {% elif badge.is_current_tier_in_badge_grp %}
                        <div class="pb-3 fw-light" style="text-align:end">
                            <small>{{badge.progress|floor}}/{{pretty_thresh|intcomma}}
                                {{badge.unit|pluralize_noun:pretty_thresh}}</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="{{badge.name}} {{badge.tier}} progress" aria-label="Animated striped example"
                                aria-valuenow="{{badge.progress|floor}}" aria-valuemin="0"
                                aria-valuemax="{{badge.measurable_threshold_to_earn}}" 
                                style="width: {% widthratio badge.progress|floor badge.measurable_threshold_to_earn 100 %}%"></div>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="d-inline-block border border-dark bg-light rounded">
            <div class="d-flex flex-column border border-info border-4 rounded py-3 px-4">
                {% include "game/community_bulletin_snip.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ newly_earned_badges|json_script:"newly-earned-badges" }}
<script>    
    const newlyEarnedBadges = JSON.parse(document.getElementById('newly-earned-badges').textContent);
    const newBadgeIDs = newlyEarnedBadges.map(b => b[0]);
    const badgeIDsStoreKey = `shownBadgeIds`;
    const newBadgesModal = new bootstrap.Modal(document.getElementById('earned-badge-modal'));

    if (!newBadgeIDs.length) window.localStorage.removeItem(badgeIDsStoreKey);

    let prevShownBadgeIDs = []
    try {
        prevShownBadgeIDs = JSON.parse(window.localStorage.getItem(badgeIDsStoreKey) || "[]");
    } catch {
        window.localStorage.removeItem(badgeIDsStoreKey);
    }
    const haveNovelBadgeForClient = () => {
        try {
            if (!prevShownBadgeIDs.length && newBadgeIDs.length > 0) return true;
            for (let bID of newBadgeIDs) {
                if (!prevShownBadgeIDs.includes(bID)) {
                    return true
                }
            }
            return false
        }
        catch {
            window.localStorage.removeItem(badgeIDsStoreKey);
            return false
        }
    }
    if (haveNovelBadgeForClient()) {
        newBadgesModal.show()
        window.localStorage.removeItem(badgeIDsStoreKey);
        window.localStorage.setItem(badgeIDsStoreKey, JSON.stringify(newBadgeIDs))
    }
</script>
{% endblock %}