{% extends "base_no_container.html" %}
{% load static %}
{% block content %}
<div class="fullscreen-bg-img" style="background-image: url({% static 'game/dalle_video_game_art_nature_background_miyazaki.png'%}">
    <div class="container py-5">
        {% include "form_errors.html" %}
        <div class="d-flex flex-wrap flex-shrink-0 justify-content-center">
            <div class="p-3">
                <div class="border border-dark bg-light rounded">
                    <div class="border border-info border-4 rounded py-2 px-3">
                        <div class="d-flex flex-wrap align-items-center">
                            <h1 class="me-3 my-2">Feedback</h1>
                            <img src="{% static 'game/dalle_nerdy_chick.png' %}" style="height: 45px; max-width:45px"/>
                        </div>
                        <p>
                            Have any problems or suggestions?<br>
                            How disappointed would you be if this site disappeared tomorrow?<br>
                            Let us know below!
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <div class="border border-dark bg-light rounded">
                    <div class="border border-info border-4 rounded">
                    <form action="{% url 'game:feedback' player_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-floating">
                            {{form.feedback}}
                            <label for="floatingTextarea">{{form.feedback.label}}</label>
                        </div>
                        <div class="d-flex justify-content-center py-4 px-3">
                            <button type="submit" class="btn btn-primary" />Send it</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}