{% extends 'base_no_container.html' %}
{% load static %}
{% block pre_navbar_content %}
<div class="modal" id="animal-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class='border border-dark rounded'>
                <div class='border border-info border-3 rounded'>
                    <div class="modal-header" style="background-color: #e3f2fd;">
                        <h2 id="animal-name" class="modal-title">Name</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mx-auto" style="max-height:250px;max-width:225px;">
                            <img id="animal-img"src="" class="img-fluid rounded-5" >
                        </div>
                        <hr>
                        
                        <p id="animal-description">Animal description</p>
                        <h4>Type</h4>
                        <p id="animal-type">Animal type</p>
                    </div>
                    <div class="modal-footer" style="background-color: #e3f2fd;">
                        <div class="" style="width:100%">Are you sure about your choice?</div>
                        <form action="{% url 'game:starter_animal' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="animal-id" name="avatar" value="">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<style>
    @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }
        93% {
            transform: rotate(0deg);
        }
        94% {
            transform: rotate(3deg);
        }
        95% {
            transform: rotate(-3deg);
        }
        96% {
            transform: rotate(3deg);
        }
        97% {
            transform: rotate(-3deg);
        }
        98% {
            transform: rotate(3deg);
        }
        99% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>
<div class="fullscreen-bg-img" style="background-image: url('{% static 'game/dalle_video_game_art_nature_background_miyazaki.png' %}'">
    <div class ="container py-5">
        <div class = 'row pb-5 justify-content-around' >
        {% for a in avatars %}
            <div class="col-4 justify-content-center align-items-center px-md-5 px-sm-4" style="animation: wiggle {{forloop.counter}}s infinite;">
                <div id="{{a.id}}" class="animal-capsule" style="width:100%; min-width:20px; max-width:200px">
                    <img src="{% static 'game/light_blue_miyazaki_starter_animal_capsule.png' %}" class="img-fluid mx-auto"/>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="d-inline-block border border-dark rounded mx-md-5 mt-5">
            <div class="d-flex bg-light rounded py-2 px-3 border border-4  border-info">
                <p>Choose your starter animal.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load game_extras %}
{{ avatars|qs_to_list|json_script:"avatars" }}
<script>
    const avatars = JSON.parse(document.getElementById('avatars').textContent);
    const animalModal = new bootstrap.Modal(document.getElementById('animal-modal'));
    const animalCapsules = document.getElementsByClassName('animal-capsule');
    
    for (let i = 0;  i < animalCapsules.length; i++) {
        const animEle = animalCapsules[i]
        animEle.addEventListener('click', (event) => {
            const ava = avatars.find(x => x.id.toString() == animEle.id)
            document.getElementById("animal-name").innerHTML = ava.name
            document.getElementById("animal-img").src = {{MEDIA_PREFIX}} + ava.image
            document.getElementById("animal-description").innerHTML = ava.description
            document.getElementById('animal-type').innerHTML = ava.type
            document.getElementById('animal-id').value = ava.id
            setTimeout(() => animalModal.show(), 20)
        })
    }
</script>
{% endblock %}