{% load game_extras %}

{% if partial_v_streak.days is 0 %}

<div>
    <p>No active streaks but don't sweat it 😅
        <br>
    Log a vegan meal today to begin a new one.
    </p>
</div>
{% else %}
<div>
    <p>
        Keep your streaks going! 
    </p>
    {% if fully_v_streak.days > 0 %}
    <p>
        <strong>{{fully_v_streak.days}} day{{fully_v_streak.days|pluralize}} </strong> 
        all vegan 🚀
    </p>
    {% endif %}
    {% if fully_v_streak.days is not partial_v_streak.days %}
    <p>
        <strong>{{partial_v_streak.days}} day{{partial_v_streak.days|pluralize}} </strong> 
        at least one vegan meal 🔥
    </p>
    {% endif %}
</div>
{% endif %}